/*.navbar {*/
    /*margin-bottom: 0;*/
/*}*/

a.exerciseName {
    border-bottom: 1px white;
    border-bottom-style: dashed;
    text-decoration: none;
}

a.exerciseName:hover {
    border-bottom: 1px white;
    border-bottom-style: dashed;
    text-decoration: none;
}

#exerciseInput, #metricInput {
    width: 318px;
    background-color: white!important;
}

#workoutDialog .popover, #exerciseDialog .popover {
    width: 450px;
    max-width: 500px;
}

.jumbotron {
    background: url("/img/2048x1280_women-workout-dumbbell-pose-gym-fitness.jpg") fixed;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin-top: -21px;
    padding-top: 30vh;
    margin-bottom: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 900px) {

    .jumbotron {
        background: url("/img/2048x1360_ganteli-poza-fitnes-trenirovki-devushka-telo.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
        padding-top: 48px;
    }

    .fc button {
        font-size: 0.8em;
    }
}

.tt-menu {
    background: #4e5d6c;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.tt-suggestion.tt-selectable {
    padding: 10px 20px;
    cursor: pointer;
}

.tt-suggestion.tt-selectable:hover {
    background: #485563;
}

.tt-highlight {
    color: #5bc0de;
}

#user_id ~ .twitter-typeahead {
    width: 100%;
}

div#calendar {
    margin-top: 20px;
}

#clientsTable, #programsTable, #programWorkouts {
    margin-top: 20px;
}

#programsTable tbody tr {
    cursor: pointer;
}

#exercisesClient .well {
    background: #485563;
}

p.exerciseHeader {
    font-size: 26px;
}

a.clientIcons {
    margin: 0 5px;
    cursor: pointer;
}

.back_button {
    margin-bottom: 20px;
}

.strategyWrapper input {
    width: 50px!important;
}

.metric {
    padding: 10px;
    border: 1px dashed white;
    border-radius: 5px;
    margin-top: 15px;
}

#workoutDays label {
    margin-right: 10px;
}

.exerciseHeading {
    font-size: 20px;
}

.workoutTemplateBtn {
    cursor: pointer;
    margin-left: 10px;
}

#fullpageloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('/img/rolling.gif') no-repeat;
    background-position: center center;
    background-color: #2b3e50;
    opacity: 0.5;
    z-index: 9999;
}

.editable_controls {
    display: none;
}

